@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 40% 98%;
  --foreground: 222 47% 11%;

  --primary: 221 83% 53%;
  --primary-foreground: 210 40% 98%;

  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;

  --muted: 215 16% 47%;
  --muted-foreground: 215 16% 47%;

  --border: 214 32% 91%;
}

@layer base {
  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] antialiased;
  }
}